.swal-btn-danger {
  background-color: var(--danger-color) !important;
}

.swal-btn-confirm {
  background-color: var(--primary-color) !important;
}

.swal-btn-cancel {
  background-color: var(--secondary-color) !important;
}